# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
ha_token.txt
Ipinfo.txt
MQTT_DeepSleel_Activate.sh
MQTT_DeepSleel_Deactivate.sh
/openHASP/
/logs/
/BigDisp/
